@use "../../scss/_variables" as *;
@use "sass:color";

.settings-container,
.password-card {
  max-width: 600px;
  margin: 2rem auto;
  padding: 2rem;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);

  :host-context(.dark-mode) & {
    color: $light-background;

    button {
      color: $light-background;
      background-color: rgba($primary-color, 0.4);
    }

    input {
      color: $light-background;
    }

    mat-label {
      color: rgba($light-background, 0.6);
    }

    background-color: rgba($dark-background, 0.8);
  }

  h1 {
    text-align: center;
    margin-bottom: 2rem;
    color: $primary-color;
  }

  h3 {
    margin: 1.5rem 0 1rem;
    color: $light-grey;
  }
}

.settings-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  mat-form-field {
    width: 100%;

    :host-context(.dark-mode) & {
      color: $light-background;
    }
  }
}

.form-actions {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
  margin-top: 1rem;
}
