@use "../../scss/_variables" as *;

.categories-card {
  max-width: 600px;
  margin: 2rem auto;
  padding: 1rem;

  mat-list-item {
    cursor: pointer;
    transition: background-color 0.2s ease;

    &:hover {
      background-color: rgba($primary-color, 0.1);
    }

    &.selected {
      background-color: rgba($primary-color, 0.2);
      font-weight: 500;
    }
  }
}

.dark-mode {
  .categories-card {
    background-color: $dark-background;

    mat-list-item {
      color: $light-background;

      &.selected {
        background-color: rgba($primary-color, 0.3);
      }
    }
  }
}
