.quote-container {
  text-align: center;
  padding: 1.5rem;
  font-family: "Poppins", sans-serif;
  background-color: $dark-background;
}

.quote-text {
  font-size: 24px;
  font-weight: 500;
  color: $light-background;
}

.quote-author {
  font-size: 18px;
  color: $light-grey;
}
