@use "../../scss/_variables" as *;

.quote-container {
  text-align: center;
  padding: 0.8rem;
  font-family: "Poppins", sans-serif;
  background-color: inherit;

  .quote-text {
    font-size: 1.2rem;
    font-weight: 300;
    color: inherit;
    margin-top: 0;

    .quote-icon {
      font-size: 24px;
      color: $primary-color;
      font-family: "Biz UDGothic", sans-serif;
    }

    .quote-icon.start {
      margin-right: 0.1rem;
      font-size: 3rem;
    }

    .quote-icon.end {
      margin-left: 0.1rem;
      font-size: 3rem;
    }
  }

  .quote-author {
    font-size: 1rem;
    color: $light-grey;
  }
}
