<!-- Background component -->
<app-background></app-background>

<!-- Main content container -->
<div class="main-container" [ngClass]="{ 'dark-mode': isDarkMode }">
  <!-- Header with theme toggle button -->
  <header>
    <div class="header-content">
      <a routerLink="/home">
        <img src="assets/logo/pqa_logo.png" alt="Quote Icon" class="header-icon" />
      </a>
      <a class="logo-link" routerLink="/home">STAY POSITIVE AND HAPPY</a>
    </div>

    <div class="buttons">
      <button mat-icon-button (click)="toggleTheme()">
        <mat-icon>{{ isDarkMode ? "light_mode" : "dark_mode" }}</mat-icon>
      </button>

      <ng-container *ngIf="currentUser; else authButtons">
        <div class="user-info">
          <span>Welcome, {{ currentUser.username }}</span>
          <button mat-button (click)="logout()">Logout</button>
        </div>
      </ng-container>
      <ng-template #authButtons>
        <button mat-button routerLink="/login">Login</button>
        <button mat-button routerLink="/register">Register</button>
      </ng-template>
    </div>

  </header>

  <!-- Show quote and search only on the home page -->
  <ng-container *ngIf="isHomePage()">
    <app-quote></app-quote>
    <app-search></app-search>
  </ng-container>

  <!-- Navigation links -->
  <nav>
    <a mat-button routerLink="/home">Home</a>
    <a mat-button routerLink="/categories">Categories</a>
    <a mat-button routerLink="/history">History</a>
    <a mat-button routerLink="/settings">Settings</a>
  </nav>

  <!-- Dynamic content -->
  <router-outlet></router-outlet>
</div>