@use "./scss/_variables" as *;

/* Global styles */

/* Main container */
.main-container {
  position: relative;
  z-index: 1;
  padding: 1.2rem;
  text-align: center;
  color: $dark-background;
  background-color: $light-background;
  width: 100%;
  transition:
    background-color 0.3s,
    color 0.3s;

  /* Dark mode styles */
  &.dark-mode {
    background-color: $dark-background;
    color: $light-background;
  }
}

/* Header styles */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
  background-color: inherit;

  h1 {
    font-size: 1.2rem;
    font-weight: 500;
  }

  button {
    color: inherit;
  }
}

/* Navigation styles */
nav {
  margin: 1.5rem 0 0rem;

  a {
    margin: 0 1.8rem;
    text-decoration: none;
    color: inherit;
    font-family: "Poppins", sans-serif;

    &:hover {
      text-decoration: underline;
    }
  }
}

/* Responsive design */
@media (max-width: 600px) {
  header h1 {
    font-size: 1rem;
  }

  nav a {
    font-size: 0.9rem;
  }
}
