@use "./scss/_variables" as *;

/* Global styles */

/* Main container */
.main-container {
  position: relative;
  z-index: 1;
  padding: 1.2rem;
  text-align: center;
  color: $dark-background;
  background-color: $light-background;
  width: 100%;
  transition:
    background-color 0.3s,
    color 0.3s;

  /* Dark mode styles */
  &.dark-mode {
    background-color: $dark-background;
    color: $light-background;
  }
}

/* Header styles */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
  background-color: inherit;
  border-bottom: 1px solid $primary-color;

  .header-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-bottom: 1rem;

    .header-icon {
      width: 40px;
      height: auto;
      vertical-align: middle;
      margin-right: 10px;
    }

    h1 {
      font-size: 1.5rem;
      font-weight: 700;
      color: $primary-color;
      margin: 0;
    }
  }

  button {
    color: inherit;
  }
}

/* Navigation styles */
nav {
  margin: 1.5rem 0 0rem;

  a {
    margin: 0 1.8rem;
    text-decoration: none;
    color: inherit;
    font-family: "Poppins", sans-serif;

    &:hover {
      text-decoration: underline;
    }
  }
}

// app.component.scss
.user-info {
  display: flex;
  align-items: center;
  gap: 1rem;

  span {
    font-size: 0.9rem;
  }
}

/* Responsive design */
@media (max-width: 600px) {
  header h1 {
    font-size: 1rem;
  }

  nav a {
    font-size: 0.9rem;
  }
}
