<div class="home-container">
  <div class="content-container">
    <app-quote [quote]="currentQuote.content || ''" [author]="currentQuote.author || 'Unknown'" [isLoading]="isLoading">
    </app-quote>

    <div class="action-buttons">
      <button mat-icon-button (click)="toggleFavorite()" [color]="currentQuote.favorited ? 'warn' : ''">
        <mat-icon>{{currentQuote.favorited ? 'favorite' : 'favorite_border'}}</mat-icon>
      </button>
      <button mat-icon-button (click)="shareQuote()">
        <mat-icon>share</mat-icon>
      </button>
      <button mat-icon-button (click)="refreshQuote()">
        <mat-icon>refresh</mat-icon>
      </button>
    </div>

    <app-search></app-search>

    <h1 class="categories-title" (click)="navigateToCategories()">Categories</h1>
    <div class="categories-container" *ngIf="currentUser">
      <div class="category-pill" *ngFor="let category of categories" (click)="selectCategory(category)"
        [class.active]="selectedCategory === category">
        {{ category }}
      </div>
    </div>
  </div>
</div>
