@use "./app/app.component.scss" as *;
@use "./app/components/quote/quote.component.scss" as *;
@use "./app/components/search/search.component.scss" as *;
@use "./app/components/quote-history/quote-history.component.scss" as *;
@use "./app/components/settings/settings.component.scss" as *;
@use "./app/components/share/share.component.scss" as *;
@use "./app/components/categories/categories.component.scss" as *;

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
