@use "@angular/material" as mat;
@use "./theme-colors" as my-theme;

html {
  @include mat.theme(
    (
      color: (
        primary: my-theme.$primary-palette,
        tertiary: my-theme.$tertiary-palette
      ),
      typography: Poppins,
      density: 0
    )
  );
}

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Poppins, "Helvetica Neue", sans-serif;
}
